[2016-06-12 16:39] KingPixil opened #2 "Example Section"
If you guys use Wing in your projects, send me the link by commenting below.

Please use the format of
**Name - (http://link.com) - Description**

 I will make an examples section of people using Wing!

[2016-06-12 18:51] FootballCoder commented on #2
http://www.yearofcode.ml/

[2016-06-12 18:57] FootballCoder commented on #2
Year Of Code - (http://www.yearofcode.ml/) - Making one program every day for a year.

[2016-06-21 23:23] akaankshr4j commented on #2
Project61 (http://goo.gl/43PEFN) A collection of 61 projects made to learn coding better

[2016-06-21 23:29] KingPixil commented on #2
Doesn't seem to use Wing at the moment...

[2016-06-22 20:25] akaankshr4j commented on #2
Hey @KingPixil I've just updated the repo + site and its using wing.

[2016-06-22 20:32] KingPixil commented on #2
Cool, I will add it now @akaankshr4j  :smile:

[2016-06-27 09:36] CodeBrauer opened #6 "Bower and CDN?"
Any thoughts on [registering your project to bower](https://bower.io/docs/creating-packages/)?

Also there are some of free CDNs out there so usage could be even easier and/or faster.

- [jsdelivr](https://github.com/jsdelivr/jsdelivr/blob/master/CONTRIBUTING.md)
- [cdnjs](https://github.com/cdnjs/cdnjs/issues/new?title=%5BRequest%5D%20Add%20_library_name_%20&body=**Library%20name%3A**%20%0A**Git%

[2016-06-28 16:32] KingPixil commented on #6
Yes, I will be adding Wing to bower, jsdelivr, and cdnjs. The CDNs take some time to accept people, but adding to Bower will be done soon :smile:

[2016-06-30 00:46] KingPixil commented on #6
Alright, so CDNJS kindly allowed me to add Wing. The link is

**https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.4/wing.min.css**

Of course you can also go on http://cdnjs.com and search for "wing".

[2016-06-30 12:43] CodeBrauer commented on #6
Awesome. Works fine, thanks for your efforts!

[2016-06-30 13:22] CodeBrauer opened #8 "Also add style for other input elements"
Currently there is only `[type="text"]` and `[type="button"]` styled. But there are so many more: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#Attributes

So I've already tried some tweaks, but there is no perfect solution without having a selector that contains all this types (or at least the most common)

Like this (messy & not classy 😅):

[code]

in [forms.css#L6](https://git

[2016-06-30 14:49] KingPixil commented on #6
No problem!

P.S. JSDelivr merged my pull request, it should be up there soon! (After they rebuild it)

[2016-06-30 14:49] #6 closed

[2016-06-30 15:57] KingPixil opened #10 "Optimize/Reduce File Size"
To make room for more styling, there needs to be optimizations made. For example, if there are rules that look like this:

[code]

**Combine them into this:**

[code]

This helps to add new features, such as new input elements in #8

If you would like to submit a PR, please refer to [CONTRIBUTING.md](https://github.com/KingPixil/wing/blob/master/CONTRIBUTING.md)

[2016-06-30 16:00] KingPixil commented on #8
Yes, I have been thinking about this as well, the problem is that it will add more file size, so the first step is to fix up #10. Which will reduce the file size, then I can start adding more inputs.

What input's should be added?

All I think is critical:
- Radio
- Checkbox

If you have any other ones, please let me know.

Thanks. :+1:

[2016-07-19 18:59] ShaggyDude commented on #8
The file size is already tiny but, this could be added as a module to be included if desired? Also, you need to add height to select to make it the same height as text input...  Awesome stuff!

[2016-07-19 19:01] KingPixil commented on #8
@ShaggyDude Thanks for the feedback, I guess I could add it as a module, but I am working on it being included with Wing so stay tuned!

Also, what browser are you seeing the select input on? It already has height on Chrome, on Macs there are some problems however...

Thanks!

[2016-07-20 19:05] KingPixil commented on #8
@CodeBrauer @ShaggyDude I added support for input type text, password, email, and a couple other **common** ones, I will be adding support for radio and checkbox soon.

[2016-07-27 10:56] eTomate opened #11 "Col-x with more than one class"
It seems, like it's required to add additional classes behind the col-x class.
If you write a col-div this way:

[code]
the grid is destroyed and doesn't work as intended.

If you switch the classes everything works fine.
[code]

BR

[2016-07-27 20:30] KingPixil commented on #11
Thanks @eTomate

This is a bug, nice catch! For now just use custom classes after `col-x`, and it should work fine. I don't know what is causing this, but I will try to figure it out :)

Thanks again :+1:

[2016-07-28 12:25] eTomate commented on #11
I just submitted a bugfix for this problem.
The problem was the `[class^='col-]` selector for row. By adding a "*=' col-' selector, we catch col-x elements within a  list of classes.

[2016-07-28 16:47] #11 closed

[2016-07-28 16:50] KingPixil commented on #11
@eTomate Thanks!

I merged the PR, the bug should be fixed now :+1:

[2016-08-26 23:28] jondcoleman opened #14 "Inverted Button Example Wrong Class"
Example on the website says `<button class="btn btn-outline">outline-inverted</button>`

It should be `<button class="btn btn-outline-inverted">outline-inverted</button>`

[2016-08-26 23:29] jondcoleman commented on #14
Didn't see a way to make PR against docs.

[2016-08-27 00:55] KingPixil commented on #14
Haha, thanks for pointing that silly typo out @jondcoleman.

It's cool if you make a PR, sorry if I wasn't clear.

Thanks, I will fix this :+1:

[2016-08-27 00:56] #14 closed

[2016-08-27 10:52] jondcoleman opened #15 "Add disabled button styles"

[2016-08-27 18:50] #15 closed

[2016-08-29 01:55] iamrudra commented on #10
@KingPixil - I took a rough look at the files within the `src` directory and all the files seem to be "optimized". I would like to contribute and so if you can help clarify this a little more, that'd be great.

[2016-08-29 02:01] KingPixil commented on #10
@iamridra Awesome! I'm glad you want to contribute. By optimizing files, I mean making them smaller, so Wing can become more lightweight than it already is.

[2016-08-29 02:04] iamrudra commented on #10
@KingPixil - Sure! I get the the objective here.

But the example you've show with the `h1` tag, I can't seem to find anything similar in any of the files under the `src` directory.

[2016-08-29 02:06] KingPixil commented on #10
Yes, but there should be other ways we can optimize, but this is not a big issue, just an ongoing issue to keep things light.

Hopefully there are other ways to optimize, if not, should I close this?

[2016-08-29 02:11] iamrudra commented on #10
I cant seem to find anything significant, honestly. Let's keep this open and add the discussions label, if somebody else has some idea?

If we go anywhere from the discussion, I'd try taking it on.

........or we can simply close it. :laughing:

[2016-08-29 02:13] KingPixil commented on #10
Yeah, I'll just add the discussion label and keep it open for now.

Let's see where this goes...

[2016-09-02 19:27] Margaret2 commented on #10
Hi, here a few tiny suggestions :smiley:

Combine the input:focus and text-area:focus classes in forms.css, since they both have:
[code]
In typography.css, h1, h2, and h3 all have the same letter spacing. So we could combine them like this:
[code]

[2016-09-03 22:23] Margaret2 commented on #10
Let me know if I should make a pull request...

[2016-09-03 23:28] KingPixil commented on #10
Whoops @Margaret2

Extremely sorry for the late response, didn't notice your comment.

No need for a PR, I will check this out. But as far as I know, removing

[code]

That is 4 lines, and 90 bytes.

Adding

[code]
That is also 4 lines, and 74 bytes.

Do you think I should add that? Just to save a couple bytes? I don't know, make a PR and run the build, then we'll see the difference between file s

[2016-09-06 02:45] Miserlou opened #16 "Errors on Splash Page"
<img width="1009" alt="screen shot 2016-09-05 at 10 44 12 pm" src="https://cloud.githubusercontent.com/assets/139987/18260307/5e43e6d4-73ba-11e6-94be-32eed35f9e3b.png">
<img width="1009" alt="screen shot 2016-09-05 at 10 44 28 pm" src="https://cloud.githubusercontent.com/assets/139987/18260320/76753532-73ba-11e6-9dc6-9fed0b3db00c.png">

See bottom right

[2016-09-06 04:17] KingPixil commented on #16
That's some weird behavior (in the first screenshot), most likely an issue with the font or your browser.

Mind telling me what browser this is?

Thanks for letting me know @Miserlou :+1:

[2016-09-06 04:21] Miserlou commented on #16
OSX, Firefox 48. It only happens in one strip.

[2016-09-06 04:23] KingPixil commented on #16
That's unusual, the second screenshot is partially fixed already, when the screen is resized to be smaller the footer and github buttons will go to the bottom.

But the font getting cut off is a little weird, any theories?

I will look into this tomorrow, as I have to sleep :zzz: right now.

[2016-09-06 15:38] Margaret2 commented on #10
Hi @KingPixil,
Yes, I realize they are very small changes and maybe not worth it right now. But anyway I made the pull requests, so just see what you think I guess. Also I hope I did that right, I am pretty new to Github. :)

[2016-09-07 00:19] KingPixil commented on #10
Hey @Margaret2,

Thanks for the PR! One thing, please refer to `CONTRIBUTING.md` for information on submitting PR's.

You did a pretty good job, but you didn't run the build. Running the build will generate the pretty and minified version of Wing in the `dist/` (distributions) directory. If it is a bug fix, it will also be released in a new version to npm and bower.

In this case, it is an improve

[2016-09-08 21:21] stefmajster opened #19 "select"
Can you style the select tag do not be default (ugly) one? :)

[2016-09-08 22:55] KingPixil commented on #19
It is already styled @stefmajster, send me a screenshot of what it looks like for you

[2016-09-09 23:54] KingPixil commented on #19
@stefmajster Any ideas? What does the select look like for you? I'm closing for now, as it works for me :confused:

[2016-09-09 23:54] #19 closed

[2016-09-10 02:56] ahmedtarek2134 opened #21 "Improve .full-screen for mobile devices"
when you assign the class "full-screen" to an element, it works well in desktop and medium screens but then when you see it on mobile displays it gets a little different. I am talking about google chrome on mobile now. when you start scrolling the page, the top bar hides and that makes the layout re adjust it's height causing more of an unpleasant way to navigate throw the page.

[2016-10-03 13:10] Kcchouette opened #23 "Fix non-standard property"
Thank you very much for this good CSS framework.

I open this issue because I see that you use a lot of non-standard property for CSS3.0 (the _-moz_ and _-webkit_ property)
[Here a CSS validation from W3C](https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fcdn.rawgit.com%2FKingPixil%2Fwing%2Fmaster%2Fdist%2Fwing.css&profile=css3&usermedium=all&warning=1&vextwarning=&lang=en).

Can you

[2016-10-03 14:31] KingPixil commented on #23
Hello @Kcchouette

Glad you like Wing! Unfortunately, things like `-moz-` and `-webkit-` are needed.

They are warnings in W3C, but when a browser renders the CSS, it looks for those properties and marks them as experimental, to allow more things to support IE 9. Wing needs those prefixes to be able to support various browsers, but I will keep this open to bring out those errors.

Thanks!

[2016-10-04 12:13] Kcchouette opened #24 "Add navbar component"
Hello,

Is there a way to add a simple navbar (like that but more simpler, of course: http://bootsnipp.com/snippets/featured/navbar-search-add-on-bs-3 ) in wing?

Or is there a way to have a invisible navbar menu which can collaspe for mobile using wing 0.1.7?

Thanks

[2016-10-05 15:46] Kcchouette opened #25 "Add .alert (or .message) class"
Hello,

Is there a way to add `.alert` or `.message` at wing css?

For example, here a reference from Siimple CSS framework:
![Siimple CSS framework capture](https://cloud.githubusercontent.com/assets/3000936/19120583/89603d56-8b23-11e6-81a0-1dbee6b4f9c9.PNG)

[2016-10-05 21:50] KingPixil commented on #25
Hey @Kcchouette!

Sadly, I probably will not add this, it's useful, but as you know, Wing's point is to be as useful as possible. I am thinking of adding plugins, and this can be one!

[2016-10-05 21:50] #25 closed

[2016-10-06 09:14] Kcchouette commented on #25
@KingPixil : it can be a good idea, to add plugins. Because I think these messages box are very useful :)

[2016-10-06 09:57] Kcchouette commented on #8
@KingPixil Can you please also add support for `input file`, `input url` and `input tel`?

[2016-10-06 14:23] KingPixil commented on #8
I'll work on it @Kcchouette 👍

[2016-10-11 00:44] KingPixil commented on #16
Figured it out, its an issue with Firefox rendering a font, nothing I can do.

[2016-10-11 00:44] #16 closed

[2016-10-11 00:45] KingPixil commented on #23
The other properties will be added soon, it is safe to keep them.

[2016-10-11 00:45] #23 closed

[2016-10-11 01:33] #21 closed

[2016-10-11 01:39] KingPixil opened #28 "Move to Flexbox, Plugins"
Wing will be moving to flexbox, give your opinion here.
#### Reasons for moving to flexbox
- Cleaner code
- Less file size (more features can be added now)
- 97% of browsers support flexbox

Now, utility classes like `.center` and `.vertical-align` are easily implemented. The grid will be given a revamp, with simpler classes and shortcuts.

You will be able to do

[code]

While still having compat

[2016-10-27 10:26] CodeBrauer opened #33 "Outlined buttons have different height"
If you use both buttons side by side they don't align perfect, because the outlined buttons has +6px of height.

![bildschirmfoto 2016-10-27 um 12 21 33](https://cloud.githubusercontent.com/assets/2059754/19763895/884465c2-9c40-11e6-81b7-e3c6f8cf4264.png)
![bildschirmfoto 2016-10-27 um 12 21 19](https://cloud.githubusercontent.com/assets/2059754/19763896/8849384a-9c40-11e6-97e1-09f71b48b989.png)

[2016-10-30 18:31] FootballCoder opened #35 "XMP instead of code?"
In your framework, you are using code tags to display code, although this works for CSS and JS, it doesn't work for HTML. I recommend to use xmp which still can use a pre tag but will also show HTML.

[2016-10-30 18:33] KingPixil commented on #35
It's obsolete, see [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/xmp)

[2016-10-30 18:33] #35 closed

[2016-12-15 04:05] talonbragg commented on #33
Just fix this with CSS and just change the width and the height back to normal. This is extremely simple, I had this issue when I was using wing. I fixed it just like this, this is mainly a flaw with Kabir's CSS. Kabir if you are reading this, please fix it, it can be extremely annoying sometimes when you are using wing. It brings down the amount of people that use this.

[2016-12-15 09:00] CodeBrauer commented on #33
@talonbragg - There is already a pending PR https://github.com/KingPixil/wing/pull/34

[2016-12-27 22:50] CodeBrauer commented on #28
Nice! Looking forward for this features!

[2016-12-28 03:54] KingPixil commented on #28
Thanks @CodeBrauer 👍

I'll try to add as many as I can, the 1.0 development is in the v1.0.0 branch if you'd like to contribute.

[2017-01-07 11:15] talonbragg opened #38 "Not Working With Secure https"
I tried to link wing on to my https ssl lock secured site, and when it is on https, it won't work. It says hat it is an insecure stylesheet. I recommend that you get ssl for wing so that it is secure. I also did the same for https://custommarkup.ml, and it still won't work(Even though I don't want to use it, I was just testing it out). Thanks.

[2017-01-07 11:33] Yinchie commented on #38
Download Wing CSS to your own host and link it directly from your own host? Problem solved.

[2017-01-07 19:13] KingPixil commented on #38
As @Yinchie said, just add it to your own host, or use a CDN...

[2017-01-07 19:13] #38 closed

[2017-01-14 16:56] #33 closed

[2017-01-16 19:23] Sidthecoder opened #39 "Wing doesn't work on secure https"
This framework doesn't work on Secure http. Hopefully you will fix this instead of closing it like you did with talon.

[2017-01-16 19:27] talonbragg commented on #39
Yes please fix this and don't close the issue like you did to mine.

[2017-01-16 19:28] talonbragg commented on #24
Plugins will make the site slower, don't use it. Wait, why am I giving you tips?

[2017-01-16 19:32] Sidthecoder commented on #39
And stop commenting on our website. Comments don't stop us from coding

[2017-01-16 19:37] datsme54 commented on #39
Hi, I'm a proud follower of @PenetratingShot, @Sidthecoder, and @talonbragg. I know that you comment on their repositories. And some of these are very bad comments. Please KingPixil. Just get a life and stop messing with these guys repos.

[2017-01-16 22:43] KingPixil commented on #39
I've mentioned before @talonbragg @Sidthecoder, I do not plan on getting ssl, and even if I do, using the Wing website as a CDN is not a good practice.

It was there as a temporary solution in the start, but as Wing got more popular, it got available on multiple CDN's, including [cdjs](https://cdnjs.com/libraries/wingcss) and [jsdelivr](http://www.jsdelivr.com/projects/wing)

Please do not create

[2017-01-16 22:43] #39 closed

[2017-01-16 22:45] KingPixil commented on #24
What do you mean @talonbragg?

Plugins will simply be included in a `plugins` folder which will be compiled into a bundled file with all of your plugins.

[2017-01-16 23:26] Yinchie commented on #24
@KingPixil they are trolling.

[2017-01-16 23:51] KingPixil commented on #24
@Yinchie Seems like it... 😒

[2017-01-17 18:39] talonbragg commented on #39
I gave you this :-1:

[2017-01-17 20:28] talonbragg commented on #24
Yes @Yinchie  and @KingPixil  Like he did to us on many of our projects, this is the main reason we are doing it to him because I wanted to see how he feels. I know him in real life too. He goes to my school. He has been ratting on us ever since we started coding. So I have no idea why anybody follows him or stars his repos. It is certainly unreasonable. Why even bother when he is just a waste of

[2017-01-17 22:31] Yinchie commented on #24
I follow him because I make use of his Wing and liking it.

[2017-01-17 23:41] KingPixil commented on #24
Thanks for the support @Yinchie

@talonbragg Honestly, I would never want you to stop programming, I've never said that, all I've done before is that I made an issue on one of your repositories, listing some things you could improve, but since you obviously don't like this, I won't do it anymore.

[2017-01-18 00:25] Sidthecoder commented on #39
Stop closing our issues

[2017-01-18 00:31] Yinchie commented on #39
Reported you spammers/trollers.

[2017-01-18 00:39] talonbragg commented on #39
@Yee Chie Tu, The only reason that we did this is because this is what he
used to do to our repos so we wanted him to feel the burn.

On Tue, Jan 17, 2017 at 4:31 PM, Yee Chie Tu <notifications@github.com>
wrote:

--

[image: --]

<https://about.me/talonbragg?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

[2017-01-18 00:43] KingPixil commented on #39
@talonbragg Seriously? :expressionless:

I gave you some things to improve on your project. You, on the other hand, are spamming issues as a way of making me "feel the burn". What?

Give me one example of where I did anything close to this.

[2017-01-18 00:46] talonbragg commented on #39
Yes but you said rude things like i'm a waste of time and my projects are a waste of time. This made me want to stop coding. I almost quit because of you. An while you are over their inspiring other people you are bringing me, @PenetratingShot and @Sidthecoder  down and not want to code. We just wanted you to see how it feels. But it won't work because you have all of these followers that like to

[2017-01-18 00:47] KingPixil commented on #39
When have I said you're a waste of time?

[2017-01-18 00:48] talonbragg commented on #39
Many times but I took down the issues because I didn't want to look at them anymore, you literally said that you didn't have time for fun on ripoffgames. That is sad because you are a kid. What I was thinking when I read that was, "Man kabir this is sad, you really need to get a life."

[2017-01-18 00:50] KingPixil commented on #39
Provide a link to an issue where I say something rude, I'm pretty sure I haven't done anything you are saying I have.

[2017-01-18 00:52] talonbragg commented on #39
[Take A Look And Get A Life](https://github.com/ripoffgames/ripoffgames.github.io/issues/2)

[2017-01-18 00:52] talonbragg commented on #39
You try to look anonymous on the internet but it doesn't work Kabir

[2017-01-18 00:53] KingPixil commented on #39
In that issue, I simply wanted to know why you guys kept inviting me to join...nothing rude there right? If I were spam inviting you to join a repo that you didn't want to contribute to, wouldn't you question it?

[2017-01-18 00:54] KingPixil commented on #39
Nonetheless, contact me personally, I don't want this discussion to continue on Wing.

[2017-01-18 00:54] talonbragg commented on #39
I do because I want your followers to see what a fraud you are.

[2017-01-18 00:55] talonbragg commented on #39
The only reason you ask me of that is because you want to hide it

[2017-01-18 00:55] Sidthecoder commented on #39
Hi

[2017-01-18 00:55] KingPixil commented on #39
Look, contact me personally, and if you really want to use something against me, screenshot it. Don't comment here anymore, this is spam to the Wing project, and has nothing related to it.

[2017-01-18 00:56] talonbragg commented on #39
Hey sid kabir wants to hide what i'm talking about because he is scared his followers will see this

[2017-01-18 00:56] Sidthecoder commented on #39
I know

[2017-01-18 00:56] talonbragg commented on #39
I want you to feel the burn kabir, like we had to feel it

[2017-01-18 00:56] talonbragg commented on #39
You are just a fraud kabir. Just admit it. Then after that is done, go get a life.

[2017-01-18 00:57] Sidthecoder commented on #39
Kabir just doesn't want people like us to code

[2017-01-18 00:57] talonbragg commented on #39
yeah

[2017-01-18 00:57] Sidthecoder commented on #39
Stop frauding kabir

[2017-01-18 00:57] Yinchie commented on #39
Whatever is going on between you three, I don't give a damn.
I am here for Wing.

Grow up.

Already sent in a report to Github, you two will be investigated soon enough.

[2017-01-18 00:58] talonbragg commented on #39
We don't care about growing up, neither should kabir, we are kids.

[2017-01-18 00:58] Sidthecoder commented on #39
Please stop

[2017-01-18 00:58] KingPixil commented on #39
Seriously, thanks @Yinchie

[2017-01-18 00:58] talonbragg commented on #39
Kabir doesn't have a life he is wasting his childhood

[2017-01-18 00:59] Sidthecoder commented on #39
It says in your profile that @Yinchie is friendly

[2017-01-18 00:59] Yinchie commented on #39
@KingPixil I suggest reading the following: https://help.github.com/articles/blocking-a-user-from-your-personal-account/

[2017-01-18 00:59] talonbragg commented on #39
Kabir even said that he doesn't have time for fun because his stuff is used by developers worldwide

[2017-01-18 00:59] talonbragg commented on #39
Even if he blocks us we can still talk to him at school @Yinchie

[2017-01-18 01:00] KingPixil commented on #39
Thanks @Yinchie I'll definitely check it out.

I don't care if you want to talk to me, if you want to, do it @talonbragg

Just do it personally and stop wasting other people's time.

[2017-01-18 01:01] talonbragg commented on #39
Its only his fault for paying attention to it

[2017-01-18 01:01] Yinchie commented on #39
I don't care what happens at school. At least there is no spam on these kinds of projects.

No problem @KingPixil

[2017-01-18 01:01] KingPixil commented on #39
Contact me personally @talonbragg @Sidthecoder, I'm locking this issue.

[2017-01-18 01:03] talonbragg commented on #24
Kabir stop wasting your childhood on our repos and telling us we are bad at programming.

[2017-01-18 01:04] talonbragg commented on #24
@KingPixil You just want us to stop programming

[2017-01-18 01:40] FootballCoder commented on #39
Also, I just stumbled upon this issue, I wanted to point out a few things

So what you are saying is that @KingPixil is a fraud, but how is he a fraud if he made this framework from scratch, and let's say hypothetically his framework is a fraud, then why did it get 1k+ stars and get featuredon multiple websites that rank frameworks

Also, if Kabir is "annoying" you on your projects on just giving

[2017-02-03 07:57] yn-coder opened #40 "Visited links have same colors"
Visited links have same colors

I think you need `a:visited {     color: SOME ; }` to `src/links.css`

[2017-03-02 05:46] luksireiku opened #43 "Implement Dark/Inverted style"
I would love to use the css styles but with inverted color scheme, would it be hard to implement?

[2017-03-02 05:53] KingPixil commented on #43
Hey!

Overriding a style made by Wing is easy, and would be similar to how you'd accomplish it with other frameworks. Just style elements you want to be a different color with plain CSS (after you've loaded Wing).

For example:

[code]

Also, for buttons, Wing provides styles such as `btn btn-outline` that allow support for darker color schemes.

[2017-03-02 05:54] KingPixil commented on #43
Also, in Wing v1, there will be a bit more functionality, while keeping the file size as small as possible, and Wing will provide more utilities for different color schemes.

[2017-03-02 06:09] luksireiku commented on #43
Thanks I could do it in a couple of seconds, good job guys

[2017-03-02 06:09] #43 closed

[2017-03-02 06:10] KingPixil commented on #43
Thank you so much! 😄

[2017-03-16 01:27] KingPixil commented on #28
Some more updates:

- Wing will be using system fonts, which means it won't need to import Open Sans anymore
- Components planned are:
  - Navigation
  -

[2017-03-16 01:32] KingPixil commented on #10
I think the file size is pretty small, and this can be closed, let me know if you think otherwise.

[2017-03-16 01:32] #10 closed

[2017-03-16 01:37] KingPixil commented on #8
Added it @Kcchouette, it will be in v1

[2017-03-16 01:37] #8 closed

[2017-03-16 14:56] CodeBrauer commented on #28
I think 5kb is more than ok. It's not even a second on small mobile devices.

[2017-03-18 22:51] KingPixil commented on #24
Fixed in #44

[2017-03-18 22:51] #24 closed

[2017-03-19 01:07] KingPixil commented on #28
Alright, it's been merged in #45

[2017-03-19 01:07] #28 closed

[2017-03-19 01:23] wad3g opened #46 "Additional Flexbox Components"
I'm not sure what, if anymore, components/plugins you'd like added, but I've rolled a lot of my own flexbox layouts, cards, panels, etc..

Depending on what you'd like to add I could give a few of them a shot.

[2017-03-19 02:03] KingPixil commented on #46
I think a card would be nice, just remember, keep it as minimal as possible :wink:

[2017-03-19 02:05] KingPixil opened #47 "Column Margins"
Margins for columns, specifically with `width: 100%` elements (such as an input) is not applied, instead, the elements are shown right next to each other.

[2017-03-19 02:05] KingPixil opened #48 "Textarea has Outline on Focus"
When focusing on inputs, there is no outline, but on textarea, there is.

[2017-03-19 03:14] #47 closed

[2017-03-19 03:14] #48 closed

[2017-03-22 00:49] KingPixil commented on #46
Not sure if we need any more of these, so I'm closing this for now. Let me know if anyone would like a new component.

[2017-03-22 00:49] #46 closed

[2017-03-29 18:15] kovirolik opened #50 "Grids aren't working"
Grids aren't working :(
I have Wing included via unpkg.

[2017-03-29 21:15] KingPixil commented on #50
Hey! Could you provide specifically what is not working?

[2017-03-30 07:45] kovirolik commented on #50
Grids are just displayed as regular divs

[2017-03-30 13:29] Kcchouette opened #51 "Bad display, fieldset"
For the code
![image](https://cloud.githubusercontent.com/assets/3000936/24506306/54011300-155d-11e7-8a5b-bd2596b621a8.png)
Here the display

![image](https://cloud.githubusercontent.com/assets/3000936/24506342/75d2d1d0-155d-11e7-95b8-8e24c47cf1e3.png)

I've test the https://github.com/KingPixil/wing/commit/36263ca5ad982ec2ebc96b10ba271db8432d7e49 version and the tag version https://github.com/Kin

[2017-03-30 14:39] KingPixil commented on #50
It would be great if you could provide a [jsFiddle](https://jsfiddle.net) or something similar showing the issue, because right know, it is hard to tell what is going on.

[2017-03-30 14:58] kovirolik commented on #50
https://jsfiddle.net/96pcg488/
Here is it

[2017-03-30 16:01] kovirolik commented on #50
https://jsfiddle.net/bfo61j50/
here is it

[2017-03-30 16:04] kovirolik commented on #50
I got it. It's error in docs. I'll send pull request.

[2017-03-30 16:04] #50 closed

[2017-03-30 22:36] KingPixil commented on #50
Thanks! Fixed it 👍

[2017-04-13 11:30] artelse opened #53 "Normalize/ css reset?"
On firefox I noticed spurious margins on block elements like body, headings, figure and perhaps many others. In the code I don't see any css reset or normalization. Is this by design or an omission?

[2017-04-13 14:21] KingPixil commented on #53
I'll normalize some margins on some elements in v1.0.0 👍

[2017-04-21 03:26] #53 closed

[2017-06-12 05:55] CLYeo opened #55 "'fixed' class but still in sequence (enhancement)"
hi,

I was thinking the 'fixed' class can be used for a floating top menu bar.
but it seems like it fixed to a specific position (usable for side menu).

it will be good if there is another class that is fixed but still in sequence in term of the row element of the grid - in the screenshot, Row 2 should be under FIXED TITLE.

(not sure if it's doable, I'm new to css)

![image](https://user-images.

[2017-06-12 06:57] KingPixil commented on #55
This can be done by toggling `position: fixed` on and off based on the screen size. You really shouldn't have a fixed row anyway, as it'll break the grid. Think about it, you want a row that is supposed to have a set position in the grid to be fixed onto a certain position.

[Here is](https://jsfiddle.net/uLg97090/1/) an example of what I'm talking about.

[2017-06-12 06:57] #55 closed

[2017-06-12 07:10] CLYeo commented on #55
ok thanks, i will check it out 👍

[2017-06-13 10:12] peduarte opened #56 "Cards drop shadow are clipped"
The drop shadows applied to `card` components are clipped due to `overflow: hidden` on the `cards` component.

![image](https://user-images.githubusercontent.com/372831/27077713-eacb48ae-5028-11e7-93b9-f107e238889b.png)

Here's the line that's causing this to happen.
https://github.com/KingPixil/wing/blob/master/src/cards.css#L5

I'll create a PR with a fix - feel free to discard it though.

[2017-06-13 16:08] CLYeo opened #58 "inner column overflow during resize"
hi,

I was testing responsiveness and encountered this.
what I was trying to achieve is items inside div 'col' content should not touch the edge

before
![image](https://user-images.githubusercontent.com/29327709/27091965-5633842e-5094-11e7-8967-b810b78f4b7d.png)

after
![image](https://user-images.githubusercontent.com/29327709/27092021-8f7c3cc6-5094-11e7-9ae2-431d1ba0b5fd.png)

link to the testi

[2017-06-13 18:31] KingPixil commented on #58
You should be using a `.container` around the main grid. For now, nested columns/rows aren't supported, but I'll add this in v1.0.0.

[2017-06-14 02:26] CLYeo commented on #58
ok got it, thanks

[2017-06-16 16:44] lentemarton opened #59 "Utilities could be at end of stylesheet"
Hello,

I've just started working with Wing, which I really enjoy because of its simplicity and good logic! However my suggestion is that utilities may be better at the end of the stylesheet – so that you could better use them to combine with other built-in classes (e.g. for horizontally align cards, etc.).

This way you could spare some more custom css on your projects.

Note: It's not an issue,

[2017-06-17 05:03] KingPixil commented on #59
Yeah, that sounds like a good idea! I'll change it right now.

[2017-06-17 05:16] #59 closed

[2017-06-17 07:40] lentemarton commented on #59
Thank you! It's just perfect now. :)

________________________________
From: Kabir Shah <notifications@github.com>
Sent: Saturday, June 17, 2017 7:03:15 AM
To: KingPixil/wing
Cc: lentemarton; Author
Subject: Re: [KingPixil/wing] Utilities could be at end of stylesheet (#59)

Yeah, that sounds like a good idea! I'll change it right now.

—
You are receiving this because you authored the thread.
Rep

[2017-06-17 11:42] KingPixil commented on #59
Thank you so much! 😄

[2017-06-25 09:45] varzy opened #60 "Can't use .card when I use npm"
Hi, I use npm to include wingcss, but `.card` class can't be used. I find the source code in node_modules/wingcss/dist/wing.css, I can't see any class about `.card`.

[2017-06-25 13:44] KingPixil commented on #60
This is because cards will be released in v1.0.0, for now, you can copy the files from this repo's `dist` folder.

[2017-06-25 13:44] #60 closed

[2017-07-26 08:09] itsag commented on #40
@KingPixil I don't think there is any need for it.

[2017-07-27 16:49] arecvlohe opened #61 "Size of default and outline buttons are different"
I love the simple styles of Wing. It's such a great and minimal library. I wanted to raise an issue which might be a non-issue. The size of the default button and the outline button are a ~ pixel different in size because the default does not have a border and the outline does. I added a 1.5px size border to the default and now both buttons have close to the same size. Is their difference somethin

[2017-07-27 17:11] KingPixil commented on #61
I'm super glad you like Wing!

This was not intentional, thanks for bringing it to my attention. If you'd like, you can submit a PR to fix it.

[2017-07-27 17:20] arecvlohe commented on #61
I will work on this and get a PR to you today!

[2017-07-27 17:41] KingPixil commented on #61
Thank you so much!

[2017-07-27 18:40] KingPixil commented on #61
Fixed in #62

[2017-07-27 18:40] #61 closed

[2017-07-27 20:51] arecvlohe opened #63 "CDN not pulling in card styles"
I am working here using the CDN (https://unpkg.com/wingcss) for wing.css but the styles for card(s) in not being pulled in. I think this might be related to #60. If you point me in the right direction I can probably pick this up and create a PR.

[2017-07-27 21:08] KingPixil commented on #63
This is because cards weren't released in the beta (v1.0.0-beta), but they are going to be released in v1.0.0.

You can't make a PR to fix this, but the best you can do is to use the files in the `dist` folder from this repo (it's the dev version of Wing).

[2017-07-27 21:12] #63 closed

[2017-07-29 23:50] #56 closed

[2017-07-29 23:52] KingPixil commented on #40
@itsag Agreed, more and more libraries have removed it. If you want it, just add it yourself.

[2017-07-29 23:52] #40 closed

[2017-07-29 23:52] KingPixil commented on #2
I'll close this for now, just tweet at me if you use/like Wing 😄

[2017-07-29 23:52] #2 closed

[2017-08-04 17:02] KingPixil commented on #51
Can you please try with the latest files in the `dist` directory? This should be fixed.

[2017-08-28 04:29] nikopik1 opened #64 "Ip"

[2017-08-28 04:38] kbrsh commented on #64
?

[2017-08-28 04:38] #64 closed

[2017-09-05 15:36] buckle2000 opened #65 "input & textarea have browser-defined font in Chrome"
![image](https://user-images.githubusercontent.com/10850402/30069304-f5fd6dae-9292-11e7-804b-e9861a6b903d.png)
Please override them by using
[code]
Thanks

[2017-09-22 19:57] lentemarton opened #66 "Grid's column width values may be incorrect"
Hello,

I've spotted some inconsistencies with the grid's percent-based column class' width values like `.col-1`, `.col-2`, `.col-3` etc., as they just doesn't add up well. When I combine two, or more 'equal-width' columns with simple `.col` class assigned to each, margin is four percent, which is all right. However when I combine two 'not-equal-width', or more columns e.g. `.col-2` with `.col-10`

[2017-10-16 01:15] kbrsh commented on #66
Hey! Sorry for the late response. I've been rewriting Wing lately, and it should be fixed.

[2017-10-16 01:18] #58 closed

[2017-10-16 01:18] #66 closed

[2017-10-18 02:30] GrosSacASac opened #68 "I like the css framework"
but it does not style tables, and without css it tables look bad. example
[code]

[2017-10-18 02:54] kbrsh commented on #68
@GrosSacASac Glad you like it! Use the latest Wing version from a CDN (it has table support), as I'm currently rewriting it.

[2017-10-20 18:53] james2doyle opened #69 "Overly Rounded select"
![](https://cl.ly/433u3U2W3U0v/Screen%20Shot%202017-10-20%20at%2011.52.12%20AM.png)

You can see how round this is on OSX (and probably on iOS as well). You can remove this using `-webkit-border-radius: 0;` or using `-webkit-appearance: none;` and rebuilding a select from "scratch"

[2017-10-20 22:36] kbrsh commented on #69
Ahh yes. The problem is that using `appearance: none;` will require an arrow SVG to be included with Wing (increasing the size by a significant amount as different colors will need to be used as well). Border radius is already set on select elements, but it doesn't effect them.

[2017-11-20 23:22] james2doyle commented on #69
Well, you can build an arrow in CSS or you can also use an arrow character ala ▼ or ▲

[2017-12-06 09:51] winghimjns opened #72 "Browser Testing"
Hi Kabir,

I used Wing in one project, a simple one page site. I left it for a while and just tested it yesterday in iPad's browser. Not sure if it's the problem in my code or wing's.

Appreciate that this framework is lightweight but gets everything basic. I tried this framework because sometimes when I use bootstrap I just need the html reset, grid system and couple of variables and mixins. It's

[2017-12-06 14:57] kbrsh commented on #72
Hey,

I appreciate the detailed response.
The `col` classes aren't meant to be used together, which looks like the main problem here. `col` resizes to fill the rest of the space, while `col-*` fills up a fixed amount of width.

Try using the appropriate `col` classes and see if that works. I might add browser tests for this type of stuff one day as well.

[2017-12-07 09:27] winghimjns commented on #72
Thanks for the details, I think I used it incorrectly.

I just have a look to the unminified production .css again. And realist that the one I am using on unpkg.com (https://unpkg.com/wingcss@1.0.0-beta/dist/wing.css) is not the same one as this repository's master especially the grid system, even with the same version code `1.0.0-beta`.

The one here is using `width` attr for `col-*` and the unpk

[2017-12-07 15:00] kbrsh commented on #72
Nope, it's not an issue. The version on this repository is the current _development_ of `1.0.0`.

[2017-12-11 19:14] faatehim opened #73 "Cards not loading properly on Internet Explorer"
The cards feature of Wing does not load properly on Internet Explorer (any version). The text ends up overlapping and it unreadable.

[2017-12-12 11:54] danivijay commented on #73
Not only cards. Pretty much everything on [official website](http://usewing.ml/) is broken in my IE11
![capture](https://user-images.githubusercontent.com/3250760/33883312-5ac6a12c-df61-11e7-8553-65176ff44056.PNG)

[2017-12-12 12:04] danivijay opened #74 "Lack of proper browser support documentation"
It seems like **Wing** is not designed to work everywhere. Some of our products requires more browser support and some requires less.

Testing, defining and displaying the **browser support** is essential to choose whether it can be used for production.

Hopes @kbrsh will look into this.

[2017-12-12 15:09] kbrsh commented on #74
Wing is supported in all modern browsers that support flexbox  (IE11+). The website itself includes some messy styles that I intend to fix.

Wing is currently not intended for production use (it is in 1.0.0-beta). 1.0 is almost here (the current development version is on this branch). I just need to write the documentation.

[2017-12-13 06:36] danivijay commented on #74
That helps. It seems [caniuse.com/#search=flexbox](https://caniuse.com/#search=flexbox) can be used as a reference, excluding partial supports(current grid fails in IE11).

![capture](https://user-images.githubusercontent.com/3250760/33924906-08d35f3e-dffe-11e7-9bb1-23061c0f62f4.PNG)

[2017-12-13 06:36] #74 closed

[2017-12-28 19:28] faatehim commented on #73
@kbrsh

[2018-01-15 12:19] sisou commented on #63
Why then has the documentation the link to the unpkg files that do not include cards, but also show how to use cards? :P

[2018-01-16 06:17] kbrsh commented on #63
@sisou I'll be honest–the documentation is a bit of a mess right now. It links to the latest development version of Wing but shows how to use the production-ready version (but it still documents the development version).

I'm working on a new documentation website for the new stable version of Wing, and it should be more consistent and clean.

[2018-01-31 22:43] myamout opened #76 "Card classes are not included in the npm download"
Ran `npm i wingcss` which downloaded wing 1.0.0-beta which did not include any of the card classes

[2018-01-31 22:45] kbrsh commented on #76
Cards aren't available in the current beta—they will be coming in either the next beta or v1.

[2018-01-31 22:45] #76 closed

[2018-02-12 21:00] lentemarton opened #77 "Grid's column width values are still incorrect"
Hello,

There may be a problem with the grid system's logic. Column widths are only correct in evenly distributed columns with `.col` class, as padding right values are always subtracted from other columns' widths, except of course last childs. You can easily spot the issue on the test screenshot, where the two colums with `.col-6` class shall be equal in width, but theye aren't – as the last chil

[2018-02-14 16:11] lentemarton commented on #77
Hello,

Following `.col` class's logic, the following lines may solve the issue, applying on top of Wing CSS:

[code]

As well `width: auto;` isn't needed, if it isn't defined earlier in the style sheet. Testing is needed.

The `.col` class isn't needed to be used in pair with `.col-1` - `.col-12` classes.

Kind regards,
Márton Lente

[2018-02-14 23:13] kbrsh commented on #77
Thanks again for the detailed issue :)

I think I've found a fix—columns had padding that I hadn't removed from previous versions, and it created an inconsistency between `.col` and `.col-x` columns.

Check out the latest `dist/wing.min.css` once this issue is closed and let me know if it works.

[2018-02-14 23:14] #77 closed

[2018-02-15 11:12] lentemarton commented on #77
Hello,

Thank you for the clean and nice fix, it absolutely works!

In my opinion applying padding on both sides make more sense as well.

Kind regards,
Márton Lente

[2018-02-15 15:28] DanielSokil commented on #73
Do you have browser prefix? IE does not fully support flexbox without prefix.
https://caniuse.com/#feat=flexbox

[2018-03-08 01:43] dobbbri opened #79 "Can't find border-box"
in base.styl

*
  box-sizing border-box

[2018-03-08 02:00] #79 closed, assigned to nobody

[2018-04-08 21:56] TomIsPrettyCool opened #80 "NPM version is not up to date"
The version of wing obtained from NPM here: [NPM](https://www.npmjs.com/package/wingcss) is not up to date and was last updated a year ago.

[2018-04-09 15:40] MatthewEdge commented on #76
To bump this - might want to remove cards from the main page or add a note saying "not currently available"

[2018-05-31 01:03] yeltsinseal opened #81 "Website not loading?"
Hey,

Wing is one of the best framework in the market... But the website isn't working for me anymore. Do you know why?

[2018-05-31 08:38] martonlente commented on #81
Hello,

I agree, and experience the same here – website doesn't load. It'd be nice to keep it alive!

[2018-05-31 14:15] kbrsh commented on #81
Hey!

The domain (along with domains for lots of my other projects) got taken over by advertisers since the name was free. The new website should be available at [kbrsh.github.io/wing](https://kbrsh.github.io/wing).

[2018-05-31 14:50] kbrsh commented on #81
No problem! Sorry for the inconvenience.

[2018-05-31 14:50] #81 closed

[2018-06-19 16:56] martonlente opened #82 "Grid system's 'uneven' columns don't work anymore"
Hello,

I've just started a new project with the most recent version of the framework, and noticed, that the grid system unfortunately doesn't work anymore, as 'uneven' columns start on a new line. So that when I create a `div` with a `.row` class, and put two or more 'uneven' columns e.g. two `div`s with class `.col-7` and `.col-5`, the latter jumps onto a new line.

After our last conversation i

[2018-08-05 22:48] tormodvm opened #84 "http://usewing.ml/ leads to spam and ads"
Hi,

I guess your domain expired or something, because this is something else... ;)

[2018-08-06 14:49] martonlente commented on #84
Hello Tormod,

As far as I know the domain was taken. The same website with identical content is available at: https://kbrsh.github.io/wing/

[2018-08-06 15:10] tormodvm commented on #84
I see. Yeah, I found it yesterday, but thought it would be best to report it, since the link is still in the readme.

[2018-10-07 18:04] sashaptrw commented on #84
See https://github.com/kbrsh/wing/pull/83

[2018-10-18 16:57] GrosSacASac commented on #68
Any plan to update ?

[2018-10-18 17:05] martonlente commented on #82
Hello,

The issue above is present almost half year ago. Could you please have a look on this?

Wing is amazing, but this simple issue breaks it – at least the latest commit.

Thank you,
Márton Lente

[2018-12-04 10:47] HxxxxxS commented on #80
@kbrsh can you please fix this? I'm missing the cards component from the NPM package. As of now I have to rely on the third party cdn.

[2018-12-22 06:26] jajoosam opened #85 "unpkg link pointing to nonexistent js"
https://unpkg.com/wingcss/ points to a nonexistent js file, @kbrsh can you make it go back to https://unpkg.com/wingcss@1.0.0-beta/dist/wing.min.css?

[2019-03-08 12:33] martonlente opened #86 "Is the framework's development still active?"
Hello,

Wing is an amazing, easy to use CSS framework – truely one-of-a-kind. **However its grid system is simply broken, since the last commit, made last year in June, as described in #82.**

Do you plan fixing this in future, so that the development is still active? I don't expect 'big' updates since Wing is a simple product, but fixing its grid system seems essential.

Thanks in advance,
Márton

[2019-03-09 19:12] kbrsh commented on #86
Hey Marton,

The development of this framework is not as active as I'd like it to be because of a variety of reasons. I haven't been able to get much time to work on any of my projects because of school and sports taking up the majority of my time. I apologize for the extremely late reply and I can try addressing the issue now.

Thanks for having faith in Wing and persistently making well-formatte

[2019-03-09 19:12] #86 closed

[2019-03-09 19:23] #82 closed

[2019-03-09 19:28] kbrsh commented on #84
#83 was merged.

[2019-03-09 19:28] #84 closed

[2019-03-09 20:16] martonlente commented on #86
Hello,

Thank for the fixes, and your feedback! It's just good to hear everything is all right, and the latest Wing also works again without searching for older commits. :)

Good luck for the sports and school!

Kind regards,
Márton Lente

[2019-04-04 07:39] rmission01 commented on #80
How do we use the latest bits? With more than 200 commits since last release?

[2019-04-04 07:59] kbrsh commented on #80
I'll have to update the NPM version, but for now you can use the latest GitHub version by either downloading the files directly or having this in your `package.json`:

[code]

[2019-10-01 16:17] GrosSacASac commented on #68
Closing as you added table support. Consider updating the npm package as well documenting the fact that tables have styles

[2019-10-01 16:17] #68 closed

[2020-01-08 02:11] devreapr commented on #80
The version hasn't been updated still, and the documentation needs updating as well, any eta?

[2020-03-02 10:12] Globegitter commented on #28
@kbrsh have you ever release the plugin for a Full screen hero? Can not find any reference to it but would need this functionality.

[2020-10-28 13:49] camillo777 opened #90 "Any update?"
Hello this library seems nice for what I have to do, but it was not updated since 2 years.
Is it dead?
Thanks

[2022-10-18 08:31] komali2 opened #91 "Drop shadow, and other styles, appears to be missing from `card` component in css output"
In `dist/`, the `card` class seems to be missing drop shadow.

Compare `dist/` version:

[code]

With what's running on the docs site:

[code]

[2022-10-18 08:33] komali2 commented on #91
There's other differences, the docs site uses a flex based col thing, which had some bugs when I tried it (try putting two col-12 next to eachother, they split the space, rather than wrapping as I expect). The dist/ uses percentage width based cols.